ul {
    list-style-type: none;
    padding-left: 0px;
}

.checked {
    position: absolute;
    right: 55px;
    color: white;
    background-color: greenyellow;
    border: 0px;
    border-radius: 5px;
}
.delete{
    position:absolute;
    right: 25px;
    color:white;
    background-color: crimson;
    border: 0px;
    border-radius: 5px;
    
}

h1 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.listItem {
    background-color:white;
    padding: 10px;
    border: 2px;
    border-radius: 5px;
    margin-top: 5px;
    border: solid 1px darkgray;
    box-shadow: 2px 2px 5px #aaaaaa;
}

.listArea {
    margin-top: 5px;
    height: fit-content;
}

.activeList {
    border-radius: 5px;
    margin-top: 20px;
}

.completedList {
    border-radius: 5px;
    margin-top: 10px;
}

.activeHeader {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.completedHeader {
    background-color: rgb(44, 44, 44);
    color: white;
    border: 1px solid rgb(44, 44, 44);
    padding: 10px;
    border-radius: 5px;
}

.btn-outline-dark {
    position: absolute;
    right: 30px;
}

.btn-outline-light {
    position: absolute;
    right: 30px;
}

.warning1 {
    display: none;
    color: red;
}

.warning2 {
    display: none;
    color: red;
}

.theList2 {
    display: none;
}